[submodule "3rdparty/SynEdit"]
	path = 3rdparty/SynEdit
	url = https://github.com/SynEdit/SynEdit.git
[submodule "3rdparty/DOSCommand"]
	path = 3rdparty/DOSCommand
	url = https://github.com/TurboPack/DOSCommand.git
[submodule "3rdparty/mORMot"]
	path = 3rdparty/mORMot
	url = https://github.com/synopse/mORMot.git
[submodule "3rdparty/DelphiDX12"]
	path = 3rdparty/DelphiDX12
	url = https://github.com/CMCHTPC/DelphiDX12.git
